.div-table {
	display: table;         
	width: auto;         
	background-color: #ffffff;   
	border-spacing: 5px; 
  }
.div-table-row {
	display: table-row;
	width: auto;
	clear: both;
	padding: 2px;
	height: fit-content;
  }
.div-table-col {
	float: left; 
	display: table-column;         
	width: 160px;
	padding: 1px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #fff4a41f;  
  }
.div-table-col-green {
	float: left; 
	display: table-column;         
	width: 100px;
	padding: 1px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #baffad;  
  }
.div-table-col-blue {
	float: left; 
	display: table-column;         
	width: 100px;
	padding: 1px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #adf3ff;  
  }
.div-table-col-red {
	float: left; 
	display: table-column;         
	width: 100px;
	padding: 1px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #ff918d;  
  }
.button {
	background-color: #04aa6d00; /* Green */
	border: none;
	color: rgb(0, 53, 4);
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }
.number {
	background-color: #ffffff; /* Green */
	border: none;
	color: rgb(53, 4, 0);
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }